* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.header {
  position: sticky;
  top: 0;
  flex: 0 0 auto;
  color: #fff;
  background-color: #000;
}
.nav {
  padding: 20px 0;
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
.nav__link a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__link a:hover {
  color: #e2f8dd;
  text-shadow: 0px 0px 16px rgba(92, 255, 0, 0.9);
}

.main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  background-color: lightslategrey;
}

h1 {
  padding-bottom: 1rem;
  text-align: center;
}

.wrapper {
  flex: 1 0 auto;
  width: 100%;
  padding: 2rem;
  background-color: #fff;
}

/* --- details --- */
details {
  width: 100%;
  margin-bottom: 0.5rem;
  min-height: 1rem;
  max-height: fit-content;
  transition: min-height 0.5s linear, max-height 0.5s linear;
  overflow: hidden;
}

summary {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  transition: color 0.12s;
}

summary:hover {
  color: lightslategrey;
}

details[open] {
  min-height: 2em;
  max-height: fit-content;
}

details[open] summary {
  color: lightslategrey;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


/* --- accordion --- */
.accordion{
  margin-top: 20px;
}

.accordion__heading {
  display: inline-block;
  font-weight: 600;
  font-size: 1.2em;
  position: relative; 
  cursor: pointer;
  padding: 10px 15px;
}

.accordion__heading:after, .accordion__heading:before {
  content: ""; 
  position: absolute;
  width: 12px; 
  height: 3px;
  top: 40%; 
  left: 0px;
  background: black;
  transition: all 0.1s;
}

.accordion__checkbox:checked~.accordion__heading:before {
  transform: rotate(90deg);
  opacity: 0;
  transition: all 0.1s;
}

.accordion__heading:after {
  transform: rotate(90deg);
  transition: all 0.1s;
}

.accordion__checkbox:checked~.accordion__heading:after {
  transform: rotate(180deg);
}

.accordion__checkbox {
  display: none; 
  position: absolute; 
  left: -9999em;
}

.accordion__checkbox:checked~.accordion__content {
  max-height: 1000px;
  transition: all 2s;
}

.accordion__content {
  max-height: 0; 
  overflow: hidden; 
  padding: 0 15px;
  transition: all 0.5s;
}

/* --- mySpoiler --- */
.mySpoiler {
  margin: 1rem 0;
}

.mySpoiler__title {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 600;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  text-transform: uppercase;
}
.mySpoiler__title::before,
.mySpoiler__title::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 8px;
  transition: all 0.3s ease 0s;
}
.mySpoiler__title::before {
  transform: rotate(40deg);
  left: 0;
}
.mySpoiler__title::after {
  transform: rotate(-40deg);
  left: 8px;
}

.mySpoiler__title.active::before {
  transform: rotate(-40deg);
  left: 0;
}
.mySpoiler__title.active::after {
  transform: rotate(40deg);
  left: 8px;
}

.mySpoiler__text {
  display: none;
  opacity: 0;
  padding: 10px 0 0 30px;
}

.active__text {
  display: block;
  animation: fadein 0.3s linear 1 normal forwards;
}

@keyframes fadein{
  from{
    height: 0;
  }
  to{
      opacity: 1;
  }
}

/* --- FOOTER --- */
.footer {
  flex: 0 0 auto;
  padding: 1.2rem 0;
  text-align: center;
  color: #000;
  background-color: lightgrey;
}

.footer__buttons {
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}

.footer__button {
  width: 10rem;
  height: 2.2rem;
  border-radius: 5px;
  cursor: pointer;
}
.footer__button:hover {
  background-color: #dfeafa;
}

@media (max-width: 640px) {
  .footer__buttons {
    flex-direction: column;
    align-items: center;
  }
  .footer__button {
    margin: 0.5rem 0;
  }
}
